<%= form_with(model: profile, local: true) do |f| %>
  <%= validations_errors(f.object) %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: true %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control', placeholder: true %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :action_ids %>
        <%= f.select(:action_ids, @permissions,
                     {include_blank: true},
                     {multiple: true,
                      size: 5,
                      class: 'form-control',
                      data: {trigger: ''},
                      id: 'action_ids'}) %>
      </div>
    </div>
  </div>

  <div class="float-right">
    <%= link_to '<span><i class="fa fa-arrow-left mr-1"></i>Voltar</span>'.html_safe, :back,
                class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
    <%= button_tag(:class => "btn btn-primary btn-icon btn-1 btn-simple") do %>
      <span><i class="fa fa-floppy-o mr-1"></i> Salvar</span>
    <% end %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    new Choices('#action_ids', {
        searchEnabled: true,
        searchChoices: true,
        search: true,
        delimiter: ',',
        editItems: true,
        removeItemButton: true,
    });
</script>
