<div class="clearfix">
  <div class="float-left">
    <%= page_title('Perfis de Acesso') %>
  </div>
  <div class="float-right pt-2">
    <%= icon_link 'Cadastrar', 'plus', new_profile_path %>
  </div>
  <div class="float-right pt-2 mr-4">
    <%= icon_link i18n_word(:filter), 'filter', "#collapseFilter", data: { toggle: 'collapse' },
                  aria: { expanded: "false", controls: "collapseFilter" } %>
  </div>
</div>

<%= card_filter do %>
  filtros
<% end %>

<table class="table">
  <thead>
  <tr class="bg-primary">
    <th class="text-white bold">
      Nome
    </th>
    <th class="text-white bold">
      Descrição
    </th>
    <th style="width: 1%;" class="text-white text-center bold">
      Ações
    </th>
  </tr>
  </thead>
  <tbody>
  <% @profiles.each do |profile| %>
    <tr>
      <td>
        <%= profile.name %>
      </td>
      <td>
        <%= profile.description %>
      </td>
      <td class="text-center">
        <%= link_to '<span><i class="fa fa-search"></i></span>'.html_safe, profile,
                    class: 'btn btn-primary btn-icon btn-sm btn-simple',
                    data: { toggle: 'tooltip', placement: 'bottom' }, title: "Visualizar" %>
        <%= link_to '<span><i class="fa fa-edit"></i></span>'.html_safe, edit_profile_path(profile),
                    class: 'btn btn-icon btn-sm btn-warning',
                    data: { toggle: 'tooltip', placement: 'bottom' }, title: "Editar" %>
        <%= link_to '<span><i class="fa fa-trash"></i></span>'.html_safe, profile,
                    method: :delete, data: { confirm: 'Você tem certeza?', toggle: 'tooltip', placement: 'bottom' }, title: "Excluir",
                    class: 'btn btn-icon btn-sm btn-danger' %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <%= paginate @profiles %>
</div>