<%= page_title('Visualizar Perfil de Acesso') %>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= label_tag :name, 'Nome' %>
      <%= label_tag :name, @profile.name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <%= label_tag :description, 'Descrição' %>
      <%= label_tag :description, @profile.description, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="float-right">
  <%= link_to span_icon(i18n_word(:come_back), 'arrow-left'), :back,
              class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
  <%= link_to span_icon(i18n_word(:edit), 'edit'), edit_profile_path(@profile),
              class: 'btn btn-primary btn-icon btn-1 btn-simple',
              data: { toggle: 'tooltip', placement: 'bottom' }, title: "Editar" %>
</div>
