<div class="container">
  <div class="col-lg-5 col-md-8 mx-auto mt-8">
    <div class="card bg-secondary shadow border-0">
      <div class="card-header bg-white pb-5">
        <div class="text-muted text-center mb-3"><small>SE AINDA NÃO TEM CONTA</small></div>
        <div class="btn-wrapper text-center">
          <%= link_to "Cadastre-se", new_registration_users_path, class: "btn btn-neutral btn-icon" %>
          <br/>
        </div>
      </div>
      <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
          <small>OU ENTRE COM SUAS CREDÊNCIAIS</small>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
              </div>
              <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: true %>
            </div>
          </div>
          <div class="custom-control custom-control-alternative custom-checkbox">
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me, class: 'custom-control-input' %>
                <%= f.label :remember_me, class: 'custom-control-label' %>
              </div>
            <% end %>
          </div>

          <div class="text-center">
            <%= f.submit "Login", class: "btn btn-primary my-4" %>
          </div>
        <% end %>

        <div class="text-center">
          <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %><br/>
        </div>
      </div>
    </div>
  </div>
</div>




