<% form = nil %>
<%= form_with(model: frequence, local: true) do |f| %>
  <% form = f %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= output_tag :name, frequence.event, frequence.event.name %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= output_tag :start_date, frequence.event, frequence.event.start_date.strftime('%d/%m/%Y %H:%M') %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= output_tag :closing_date, frequence.event, frequence.event.start_date.strftime('%d/%m/%Y %H:%M') %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <%= output_tag :event_category_id, frequence.event, frequence.event.event_category.name %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= output_tag :workload, frequence.event, "#{frequence.event.workload} Horas" %>
    </div>
  </div>
  <div class="col-auto">
    <div class="form-group">
      <%= label_tag :image, i18n_model(:event, :image) %>
      <div>
        <%= view_image_button(frequence.event.image.url, i18n_model(:event, :image), button_text: 'Visualizar') %>
      </div>
    </div>
  </div>
  <%= render 'participants_form', form: form, event: frequence.event %>
</div>


<div class="row static-childs-cols">
  <% if frequence.event.child_events.any? %>
    <div class="col-sm-12 mt-3">
      <h5>Subeventos</h5>
      <% frequence.event.child_events.each do |child_event| %>
        <div class="col-sm-12 static form-area bg-secondary mb-4">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= output_tag :name, child_event, child_event.name %>
              </div>
            </div>
            <div class="col-md-3">
              <%= output_tag :start_date, child_event, child_event.start_date.strftime('%d/%m/%Y %H:%M') %>
            </div>
            <div class="col-md-3">
              <%= output_tag :closing_date, child_event, child_event.closing_date.strftime('%d/%m/%Y %H:%M') %>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= output_tag :event_category_id, child_event, child_event.event_category.name %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <%= output_tag :workload, child_event, "#{child_event.workload} Hora (s)" %>
              </div>
            </div>
            <div class="col-sm-auto">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= check_box_tag "own_certificate_#{child_event.id}", false,
                                    child_event.own_certificate,
                                    class: 'custom-control-input d-none', disabled: true %>
                  <%= label_tag "own_certificate_#{child_event.id}", i18n_model(:event, :own_certificate), class: 'custom-control-label' %>
                </div>
              </div>
            </div>
            <%= render 'participants_form', form: form, event: child_event %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="clearfix">
  <div class="float-right">
    <%= link_to "<span><i class='fa fa-arrow-left mr-1'></i>#{i18n_word(:come_back)}</span>".html_safe, :back,
                class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      $("a[data-association-path='frequence_participants']").each(function(index, element){
          const id_link = $(element).attr('id')
          $(element).attr("data-association-path", `${id_link}`)
          $(`#nested_${id_link}`).find('#frequence_participants_template').attr("id", `${id_link}_template`)
      })
  })

    function submit(button) {
        const form = $(button).closest('form')
        const uuid = uuidv4()
        form.attr("id", `${uuid}`);
        form.find("#id_form").val(`${uuid}`);

        const data = new FormData(document.getElementById(`${uuid}`))

        $.ajax({
            url: form.attr("action"),
            type: "POST",
            data: data,
            processData: false,
            contentType: false,
            dataType: 'script'
        });
    }

    function remove(button) {
        button = $(button)
        const form = button.closest('form')
        const uuid = uuidv4()
        form.attr("id", `${uuid}`);
        form.find("#id_form").val(`${uuid}`);

        debugger
        Swal.fire({
            title: 'Remover participante?',
            icon: 'question',
            iconHtml: '?',
            confirmButtonText: 'Sim',
            cancelButtonText: 'Cancelar',
            showCancelButton: true,
            showCloseButton: true
        }).then(function (result) {
            if (result.value === true) {
                if (button.data('url') === '#') {
                    form.remove()
                } else {
                    $.ajax({
                        url: `${button.data('url')}?${$.param({id_form: `${uuid}`})}`,
                        type: "DELETE",
                        processData: false,
                        contentType: false,
                        dataType: 'script'
                    });
                }
            }
        })
    }

    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }
</script>