<div class="float-left">
  <%= page_title(i18n_model(:frequence, plural: true)) %>
</div>
<div class="float-right pt-2">
  <%= icon_link i18n_word(:register), 'plus', new_frequence_path %>
</div>

<table class="table">
  <thead>
    <tr class="bg-primary">
      <th class="text-white bold"><%= i18n_model(:frequence, :event_id) %></th>
      <th class="text-white text-center bold" colspan="3"><%= i18n_word(:actions) %></th>
    </tr>
  </thead>

  <tbody>
    <% @frequences.each do |frequence| %>
    <tr>
      <td><%= frequence.event_id %></td>
      <td class="text-center">
        <%= link_to '<span><i class="fa fa-search"></i></span>'.html_safe, frequence,
                    class: 'btn btn-primary btn-icon btn-sm btn-simple'%>
        <%= link_to '<span><i class="fa fa-edit"></i></span>'.html_safe, edit_frequence_path(frequence),
                    class: 'btn btn-icon btn-sm btn-warning' %>
        <%= link_to '<span><i class="fa fa-trash"></i></span>'.html_safe, frequence,
                    method: :delete, data: { confirm: 'Você tem certeza?' },
                    class: 'btn btn-icon btn-sm btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <%= paginate @frequences %>
</div>
