<%= form_for participant, remote: true do |fp| %>
  <%= hidden_field_tag :id_form %>

  <%= fp.hidden_field :id %>
  <%= fp.hidden_field :event_id, value: event.id %>
  <%= fp.hidden_field :frequence_id, value: form.object.id %>
  <div class="row pt-3" style="z-index: 100000">
    <div class="col-sm-12">
      <span id="errors"></span>
    </div>
    <% person = fp.object.person || fp.object.build_person %>
    <%= fp.fields_for :person, person do |fpe| %>
      <div class="col-sm-3">
        <div class="form-group">
          <%#= fpe.label :name %>
          <%= fpe.text_field :name, class: 'form-control', placeholder: true %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <%#= fpe.label :cpf %>
          <%= fpe.text_field :cpf, class: 'form-control cpf-mask', placeholder: true %>
        </div>
      </div>
    <% end %>
    <div class="col">
      <div class="form-group">
        <%#= fp.label :type_participation %>
        <%= fp.select(:type_participation_id, @type_participations,
                      { include_blank: true },
                      { size: 5, class: 'form-control choices' }) %>
      </div>
    </div>
    <div class="col-auto">
      <%= link_to('javascript:void(0)', class: 'btn btn-primary btn-icon btn-1 btn-simple', onclick: 'submit(this)') do %>
        <i class="fa fa-floppy-o mr-1"></i>
      <% end %>
      <% url = participant.id.present? ? participant_path(id: participant.id) : '#' %>
      <%= link_to '<span><i class="fa fa-trash"></i></span>'.html_safe, 'javascript:void(0)', onclick: 'remove(this)',
                  data: { url: "#{url}" }, class: 'btn btn-danger btn-icon btn-1 btn-simple' %>
    </div>
  </div>
<% end %>