<div id="certificate-frame" style="background-image: url('<%= cert[:url_backgroud] %>');">
  <div id="certificate-text-frame">
    <div id="certificate-text-content">
      <%= cert[:text].html_safe %>
    </div>
  </div>
  <div id="certificate-signatures-frame">
    <div id="" class="col-md-12">
      <div class="row">
        <% cert[:certificate_signatures].each do |signature| %>
          <div class="col text-center">
            <img id="scanned-signature" class="scanned-signature"
                 src="<%= signature[:url] %>"
                 alt="<%= signature[:name] %>"/>
            <span id="name" class="d-block text-black font-weight-bold font-italic"><%= signature[:name] %></span>
            <span id="role" class="d-block"><%= signature[:role] %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    function loadPreview() {
        const heigth_a4_ref = 807.467
        const width_a4_ref = 1142

        const certificate_frame = $('#certificate-frame');
        const certificate_text_frame = $('#certificate-text-frame');
        const certificate_signatures_frame = $('#certificate-signatures-frame');

        const width = $($('.container')[0]).width() || certificate_frame.parent().width();
        const height = parseInt(width) * heigth_a4_ref / width_a4_ref;

        certificate_frame.css('height', height);

        const top_text = parseInt(height) * 310 / heigth_a4_ref;
        const height_text = parseInt(height) * 220 / heigth_a4_ref;

        certificate_text_frame.css({
            'top': `${top_text}px`,
            'height': `${height_text}px`,
            'padding-left': '100px',
            'line-height': `${height_text}px`,
            'padding-right': '100px',
        });

        const top_signatures = (parseInt(height) * 570 / heigth_a4_ref) - height_text;

        certificate_signatures_frame.css({
            'top': `${top_signatures}px`, 'padding-left': '100px', 'padding-right': '100px',
        });
    }
</script>
