<table class="table" id="<%= id %>">
  <thead>
  <tr>
    <th class="bold">Nome</th>
    <th class="bold">Sobrenome</th>
    <th class="bold">Email</th>
    <th class="bold">C. Horária</th>
    <th class="bold">Matrícula</th>
    <th class="bold">CPF</th>
    <th class="text-center bold">Participação</th>
    <td style="width: 1%" class="text-center bold" colspan="3">Ações</td>
  </tr>
  </thead>
  <tbody>
  <% participants.each do |participant| %>
    <tr id="<%= participant.id %>'">
      <td><%= participant.name %></td>
      <td><%= participant.surname %></td>
      <td><%= participant.email %></td>
      <td><%= participant.workload %> Horas</td>
      <td><%= participant.registration %></td>
      <td><%= participant.cpf %></td>
      <td class="text-center"><%= participant.type_participation.name %></td>
      <td style="width: 1%" class="text-center bold" colspan="3">
        <% url = participant.id.present? ? participant_path(id: participant.id) : '#' %>
        <%= link_to '<span><i class="fa fa-pencil"></i></span>'.html_safe, edit_participant_path(participant),
                    class: 'btn btn-primary btn-icon btn-sm', remote: true %>
        <%= link_to '<span><i class="fa fa-trash"></i></span>'.html_safe, 'javascript:void(0)', onclick: 'remove(this)',
                    data: { url: url }, class: 'btn btn-danger btn-icon btn-sm' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>