<div class="clearfix">
  <div class="float-left">
    <%= page_title("Meus certificados") %>
  </div>
  <div class="float-right pt-2 mr-4">
    <%= icon_link i18n_word(:filter), 'filter', "#collapseFilter", class: 'text-dark', data: { toggle: 'collapse' },
                  aria: { expanded: "false", controls: "collapseFilter" } %>
  </div>
</div>

<%= card_filter do %>
  filtros
<% end %>

<table class="table table-flush">
  <thead class="thead-light">
  <tr class="bg-primary">
    <th class="bold break-text"><%= i18n_model(:participant, :event) %></th>
    <th class="bold"><%= i18n_model(:event, :event_category_id) %></th>
    <th class="bold"><%= i18n_model(:participant, :type_participation) %></th>
    <th class="bold"><%= i18n_model(:event, :start_date) %></th>
    <th class="bold"><%= i18n_model(:event, :closing_date) %></th>
    <th class="bold"><%= i18n_model(:participant, :workload) %></th>
    <th style="width:1%;" class="text-center bold" colspan="3"><%= i18n_word(:download) %></th>
  </tr>
  </thead>

  <tbody>
  <% @participants.each do |participant| %>
    <tr>
      <td class="break-text"><%= participant.event.name %></td>
      <td><%= participant.event.event_category.name %></td>
      <td><%= participant.type_participation.name %></td>
      <td><%= participant.event.start_date.strftime('%d/%m/%Y %H:%M') %></td>
      <td><%= participant.event.closing_date.strftime('%d/%m/%Y %H:%M') %></td>
      <td><%= participant.workload %> Hora (s)</td>
      <td class="text-center">
        <%= link_to '<span><i class="fa fa-download"></i></span>'.html_safe, certificates_download_participant_path(participant),
                    class: 'btn btn-primary btn-icon btn-sm btn-simple',
                    data: { toggle: 'tooltip', placement: 'bottom' }, title:  "Baixar certificado" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <%= paginate @participants %>
</div>
