<div class="float-left">
  <%= page_title(i18n_model(:participant, plural: true)) %>
</div>
<div class="float-right pt-2">
  <%= icon_link i18n_word(:register), 'plus', new_participant_path %>
</div>

<table class="table">
  <thead>
    <tr class="bg-primary">
      <th class="text-white bold"><%= i18n_model(:participant, :person_id) %></th>
      <th class="text-white bold"><%= i18n_model(:participant, :frequence_id) %></th>
      <th class="text-white bold"><%= i18n_model(:participant, :type_participation_id) %></th>
      <th class="text-white bold"><%= i18n_model(:participant, :event_id) %></th>
      <th class="text-white bold"><%= i18n_model(:participant, :status) %></th>
      <th class="text-white bold"><%= i18n_model(:participant, :workload) %></th>
      <th class="text-white text-center bold" colspan="3"><%= i18n_word(:actions) %></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
    <tr>
      <td><%= participant.person_id %></td>
      <td><%= participant.frequence_id %></td>
      <td><%= participant.type_participation_id %></td>
      <td><%= participant.event_id %></td>
      <td><%= participant.status %></td>
      <td><%= participant.workload %></td>
      <td class="text-center">
        <%= link_to '<span><i class="fa fa-search"></i></span>'.html_safe, participant,
                    class: 'btn btn-primary btn-icon btn-sm btn-simple'%>
        <%= link_to '<span><i class="fa fa-edit"></i></span>'.html_safe, edit_participant_path(participant),
                    class: 'btn btn-icon btn-sm btn-warning' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <%= paginate @participants %>
</div>
