<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @action.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @action.description %>
</p>

<p>
  <strong>Key:</strong>
  <%= @action.key %>
</p>

<%= link_to 'Edit', edit_action_path(@action) %> |
<%= link_to 'Back', actions_path %>
