<% public_access = true if public_access.nil? %>
<%= form_with(model: user, local: true) do |f| %>
  <%= validations_errors(f.object) %>

  <div class="row">
    <%= f.fields_for :person, f.object.person ||= f.object.build_person  do |person_fields| %>
      <div class="col-md-3">
        <div class="form-group">
          <%= person_fields.label :name %>
          <%= person_fields.text_field :name, class: 'form-control', placeholder: 'Ex. Daniel' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= person_fields.label :surname %>
          <%= person_fields.text_field :surname, class: 'form-control', placeholder: 'Ex.: Arrais de Carvalho' %>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <%= person_fields.label :date_of_birth %>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
            </div>
            <%= person_fields.text_field :date_of_birth,
                             class: 'flatpickr flatpickr-input form-control', placeholder: 'Ex: 22/02/1998' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= person_fields.label :registration %>
          <%= person_fields.text_field :registration, class: 'form-control', placeholder: 'Ex.: FC20191527' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <%= person_fields.label :cpf %>
          <%= person_fields.text_field :cpf, class: 'form-control cpf-mask', placeholder: 'Ex.: 837.580.160-70' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= person_fields.label :cellphone %>
          <%= person_fields.text_field :cellphone, class: 'form-control cellphone-mask', placeholder: 'Ex.: (63) 9995-5656' %>
        </div>
      </div>
    <% end %>

    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Ex.: exemplo@email.com' %>
      </div>
    </div>

    <% unless public_access %>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :profile_ids %>
          <%= f.select(:profile_ids, @profiles,
                       { include_blank: true },
                       { multiple: true,
                         size: 5,
                         class: 'form-control',
                         data: { trigger: '' },
                         id: 'profile_ids' }) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="float-right">
    <%= link_to span_icon(i18n_word(:come_back), 'arrow-left'), :back,
                class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
    <%= button_tag(:class => "btn btn-primary btn-icon btn-1 btn-simple") do %>
      <span><i class="fa fa-floppy-o mr-1"></i> Salvar</span>
    <% end %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    new Choices('#profile_ids', {
        removeItemButton: true,
    });
</script>