<% public_access ||= true %>
<%= form_for user, method: :post, url: registration_save_users_path do |f| %>
  <%= validations_errors(f.object) %>
  <%= f.hidden_field :id %>
  <div class="row">
    <%= f.fields_for :person, f.object.person ||= f.object.build_person  do |person_fields| %>
      <div class="col-md-3">
        <div class="form-group">
          <%= person_fields.label :name, 'Nome' %>
          <%= person_fields.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Ex. Daniel' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= person_fields.label :surname, 'Sobrenome' %>
          <%= person_fields.text_field :surname, class: 'form-control', placeholder: 'Ex.: Arrais de Carvalho' %>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <%= person_fields.label :date_of_birth, 'Data de nascimento' %>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
            </div>
            <%= person_fields.text_field :date_of_birth,
                             class: 'flatpickr flatpickr-input form-control', placeholder: 'Ex: 22/02/1998' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= person_fields.label :registration, 'Matrícula' %>
          <%= person_fields.text_field :registration, class: 'form-control', placeholder: 'Ex.: FC20191527' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <%= person_fields.label :cpf, 'CPF' %>
          <%= person_fields.text_field :cpf, class: 'form-control cpf-mask', placeholder: 'Ex.: 837.580.160-70' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= person_fields.label :cellphone, 'Celular' %>
          <%= person_fields.text_field :cellphone, class: 'form-control cellphone-mask', placeholder: 'Ex.: (63) 9995-5656' %>
        </div>
      </div>
    <% end %>

    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Ex.: exemplo@email.com' %>
      </div>
    </div>
  </div>

  <div class="float-right">
    <%= button_tag(:class => "btn btn-primary btn-icon btn-1 btn-simple") do %>
      <span><i class="fa fa-floppy-o mr-1"></i> Cadastrar-se</span>
    <% end %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    new Choices('#profile_ids', {
        removeItemButton: true,
    });
</script>