<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Ex. Daniel'%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :surname, 'Sobrenome' %>
        <%= f.text_field :surname, class: 'form-control', placeholder: 'Ex.: Arrais de Carvalho'%>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :date_of_birth, 'Data de nascimento' %>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
          </div>
          <%= f.text_field :date_of_birth,
                           class: 'flatpickr flatpickr-input form-control', placeholder: 'Ex: 22/02/1998'%>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :registration, 'Matrícula' %>
        <%= f.text_field :registration, class: 'form-control', placeholder: 'Ex.: FC20191527'%>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :cpf, 'CPF' %>
        <%= f.text_field :cpf, class: 'form-control cpf-mask', placeholder: 'Ex.: 837.580.160-70'%>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Ex.: exemplo@email.com'%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :cellphone, 'Celular' %>
        <%= f.text_field :cellphone, class: 'form-control cellphone-mask', placeholder: 'Ex.: (63) 9995-5656'%>
      </div>
    </div>
  </div>
  <div>
    <h5>Perfis de acesso</h5>
  </div>

  <div class="float-right">
    <%= link_to '<span><i class="fa fa-arrow-left mr-1"></i>Voltar</span>'.html_safe, :back,
                class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
    <%= button_tag( :class => "btn btn-primary btn-icon btn-1 btn-simple") do %>
      <span><i class="fas fa-save mr-1"></i> Salvar</span>
    <% end %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">


</script>