<div class="ct-page-title">
  <h1 class="ct-title" id="content">Visualizar Usuário</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= label_tag :name, 'Nome' %>
      <%= label_tag :name, @user.name, autofocus: true, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= label_tag :surname, 'Sobrenome' %>
      <%= label_tag :surname, @user.surname, class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= label_tag :date_of_birth, 'Data de nascimento' %>
      <%= label_tag :date_of_birth, @user.date_of_birth.strftime('%d/%m/%Y'), class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <%= label_tag :registration, 'Matrícula' %>
      <%= label_tag :registration, @user.registration, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= label_tag :cpf, 'CPF' %>
      <%= label_tag :cpf, @user.cpf, class: 'form-control cpf-mask' %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <%= label_tag :email, 'Email' %>
      <%= label_tag :email, @user.email, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= label_tag :cellphone, 'Celular' %>
      <%= label_tag :cellphone, @user.cellphone, class: 'form-control cellphone-mask' %>
    </div>
  </div>
</div>

<div class="float-right">
  <%= link_to '<span><i class="fa fa-arrow-left mr-1"></i>Voltar</span>'.html_safe, :back,
              class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
  <%= link_to '<span><i class="fa fa-edit mr-1"></i>Editar</span>'.html_safe, edit_user_path(@user),
              class: 'btn btn-primary btn-icon btn-1 btn-simple' %>
</div>
