<div class="social-line social-line-big-icons">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12"><h1>Bem vindo(a) ao CERT Eventos</h1></div>
      <div class="col-sm-12 mb-5"><h3>Do que você precisa?</h3></div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-md-4 mb-lg-0 mb-4 mr-auto">
        <a href="<%= validar_path %>">
          <div class="card" style="width: 20rem;">
            <div class="card-body text-center">
              <p class="card-text font-weight-bold">Validar Certificados</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-4 mb-lg-0 mb-4 mr-auto">
        <a href="<%= event_requests_path %>">
          <div class="card" style="width: 20rem;">
            <div class="card-body text-center">
              <p class="card-text font-weight-bold">Analisar Solicitações Eventos</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-4 mb-lg-0 mb-4 mr-auto">
        <a href="<%= participants_path %>">
          <div class="card" style="width: 20rem;">
            <div class="card-body text-center">
              <p class="card-text font-weight-bold">Baixar certificados</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-4 mb-lg-0 mb-4 mr-auto">
        <a href="<%= my_requests_event_requests_path %>">
          <div class="card" style="width: 20rem;">
            <div class="card-body text-center">
              <p class="card-text font-weight-bold">Solicitar eventos</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 mb-md-4 mb-lg-0 mb-4 ml-auto">
        <a href="<%= certificate_signatures_path %>">
          <div class="card" style="width: 27rem;">
            <div class="card-body text-center">
              <p class="card-text font-weight-bold">Gerenciar Assinaturas de Certificados</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-4 mb-lg-0 mb-4 mr-auto">
        <a href="<%= certificate_templates_path %>">
          <div class="card" style="width: 20rem;">
            <div class="card-body text-center">
              <p class="card-text font-weight-bold">Gerência templates de certificados</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>