<%= form_with(model: event, local: true, html: { multipart: true }) do |f| %>
  <%= validations_errors(f.object) %>
  <div class="row">
    <%= render 'fields', f: f %>
  </div>

  <div class="clearfix">
    <div class="float-right">
      <%= link_to span_icon(i18n_word(:come_back), 'arrow-left'), :back,
                  class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
      <%= button_tag(:class => "btn btn-primary btn-icon btn-1 btn-simple") do %>
        <span><i class="fa fa-floppy-o mr-1"></i> Salvar</span>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(document).on('fieldsadded', (event) => {
        $(event.target).find('.cpf-guided-field').bind('keyup', searchPersonName);
    })

    function searchPersonName(event) {
        const people_name_path = '<%= people_name_path %>'
        const input = $(event.target)

        const setName = function (response) {
            if (response !== null) {
                input.closest("fieldset").find(".name-guided-field").val(`${response.name} ${response.surname}`)
                input.closest("fieldset").find(".person-hidden-field").val(response.id)
            } else {
                input.closest("fieldset").find(".name-guided-field").val('')
                input.closest("fieldset").find(".person-hidden-field").val('')
            }
        }

        if (input.val().length === 14) {
            ajaxGet(people_name_path, {cpf: input.val()}, setName, input);
        }
    }
</script>
