<%= form_with(model: event, local: true, html: { multipart: true }) do |f| %>
  <%= validations_errors(f.object) %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: true %>
      </div>
    </div>
    <div class="col-md-3">
      <%= f.date_picker :start_date, placeholder: true %>
    </div>
    <div class="col-md-3">
      <%= f.date_picker :closing_date, placeholder: true %>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :event_category_id %>
        <%= f.select(:event_category_id, @event_categories,
                     { include_blank: true },
                     { size: 5,
                       class: 'form-control',
                       data: { trigger: '' },
                       id: 'event_category_id' }) %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :workload %>
        <%= f.number_field :workload, autofocus: true, class: 'form-control', placeholder: true %>
      </div>
    </div>
    <%= f.fields_for :image, f.object.image ||= f.object.build_image do |ff| %>
      <div class="col-sm-auto">
        <% url = ff.object.url %>

        <%= ff.hidden_field :id %>
        <%= ff.image_field(:file, 'Procurar', 'Alterar', new: !url.present?) %>
      </div>
    <% end %>
  </div>

  <div class="float-right">
    <%= link_to '<span><i class="fa fa-arrow-left mr-1"></i>Voltar</span>'.html_safe, :back,
                class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
    <%= button_tag(:class => "btn btn-primary btn-icon btn-1 btn-simple") do %>
      <span><i class="fa fa-floppy-o mr-1"></i> Salvar</span>
    <% end %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    new Choices('#event_category_id', {
        removeItemButton: true,
    });
</script>
