<%= page_title('Visualizar Evento') %>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= output_tag :name, @event, @event.name %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= output_tag :start_date, @event, @event.start_date.strftime('%d/%m/%Y %H:%M') %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= output_tag :closing_date, @event, @event.start_date.strftime('%d/%m/%Y %H:%M') %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <%= output_tag :event_category_id, @event, @event.event_category.name %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= output_tag :workload, @event, "#{@event.workload} Horas" %>
    </div>
  </div>
  <div class="col-auto">
    <div class="form-group">
      <%= label_tag :image, i18n_model(:event, :image) %>
      <div>
        <%= view_image_button(@event.image.url, i18n_model(:event, :image), button_text: 'Visualizar') %>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <h5>Atividades Orientadas</h5>
  </div>
  <div class="col-sm-12 mt-3">
    <% @event.oriented_activities.each do |oriented_activity| %>
      <div class="col-sm-12 form-area bg-secondary mb-4">
        <div class="row">
          <div class="col-sm-8">
            <%= output_tag :title, oriented_activity, oriented_activity.title %>
          </div>
          <div class="col">
            <div class="form-group">
              <%= output_tag :event_category_id, @event, oriented_activity.event_category.name %>
            </div>
          </div>
          <div class="col-sm-12">
            <h6>Orientandos</h6>
          </div>
          <div class="col-sm-12 mt-3">
            <% oriented_activity.guideds.each do |guided| %>
              <div class="col-sm-12 form-area bg-white mb-4">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <%= output_tag :cpf, guided.person, guided.person.cpf %>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <%= output_tag :name, guided.person, guided.person.full_name %>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <%= output_tag :course_id, guided, guided.course.name %>
                    </div>
                  </div>
                  <div class="col-sm-auto">
                    <div class="form-group">
                      <%= output_tag :semester, guided, "#{guided.semester}ยบ Semestre" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-12 mt-3">
    <h5>Subeventos</h5>
    <% @event.child_events.each do |child_event| %>
      <div class="col-sm-12 form-area bg-secondary mb-4">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= output_tag :name, child_event, child_event.name %>
            </div>
          </div>
          <div class="col-md-3">
            <%= output_tag :start_date, child_event, child_event.start_date.strftime('%d/%m/%Y %H:%M') %>
          </div>
          <div class="col-md-3">
            <%= output_tag :closing_date, child_event, child_event.closing_date.strftime('%d/%m/%Y %H:%M') %>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= output_tag :event_category_id, child_event, child_event.event_category.name %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= output_tag :workload, child_event, "#{child_event.workload} Hora (s)" %>
            </div>
          </div>
          <div class="col-sm-auto">
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <%= check_box_tag "own_certificate_#{child_event.id}", false,
                                  child_event.own_certificate,
                                  class: 'custom-control-input d-none', disabled: true %>
                <%= label_tag "own_certificate_#{child_event.id}", i18n_model(:event, :own_certificate), class: 'custom-control-label' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="float-right">
  <%= link_to '<span><i class="fa fa-arrow-left mr-1"></i>Voltar</span>'.html_safe, :back,
              class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
  <%= link_to '<span><i class="fa fa-edit mr-1"></i>Editar</span>'.html_safe, edit_event_path(@event),
              class: 'btn btn-primary btn-icon btn-1 btn-simple' %>
</div>
