<div class="clearfix">
  <div class="float-left">
    <%= page_title('Permissões do Sistema') %>
  </div>
  <div class="float-right pt-2">
    <%= link_to '<span><i class="fa fa-repeat"></i> Importar</span>'.html_safe, recreate_and_update_all_permissions_path %>
  </div>
  <div class="float-right pt-2 mr-4">
    <%= icon_link i18n_word(:filter), 'filter', "#collapseFilter", data: { toggle: 'collapse' },
                  aria: { expanded: "false", controls: "collapseFilter" } %>
  </div>
</div>

<%= card_filter do %>
  filtros
<% end %>

<table class="table">
  <thead>
  <tr class="bg-primary">
    <th class="text-white bold">
      Nome
    </th>
    <th class="text-white bold">
      Descrição
    </th>
    <th style="width: 1%;" class="text-white text-center bold">
      Ações
    </th>
  </tr>
  </thead>
  <tbody>
  <% @permissions.each do |action| %>
    <tr>
      <td>
        <%= action.name %>
      </td>
      <td>
        <%= action.description %>
      </td>
      <td class="text-center">
        <%= link_to '<span><i class="fa fa-search"></i></span>'.html_safe, action,
                    class: 'btn btn-primary btn-icon btn-sm btn-simple',
                    data: { toggle: 'tooltip', placement: 'bottom' }, title: "Visualizar" %>
        <%= link_to '<span><i class="fa fa-edit"></i></span>'.html_safe, edit_permission_path(action),
                    class: 'btn btn-icon btn-sm btn-warning',
                    data: { toggle: 'tooltip', placement: 'bottom' }, title: "Editar" %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <%= paginate @permissions %>
</div>