<%= page_title('Visualizar Permissão de Acesso') %>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= label_tag :action, 'Nome' %>
      <%= label_tag :action, @permission.action, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <%= label_tag :description, 'Grupo' %>
      <%= label_tag :controller, @permission.controller, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="float-right">
  <%= link_to span_icon(i18n_word(:come_back), 'arrow-left'), :back, class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
</div>
