<%= form_with(model: event_request, local: true) do |f| %>
  <%= validations_errors(f.object) %>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= output_tag :person_id, event_request, current_user_full_name %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :additional_information %>
        <%= f.summernote_area :additional_information %>
      </div>
    </div>

    <div class="col-sm-12">
      <h4>Dados do evento</h4>
    </div>

    <%= f.fields_for :event, f.object.event || f.object.build_event do |ff| %>
      <%= ff.hidden_field :id %>
      <%= render 'events/event_fields', f: ff %>
    <% end %>
  </div>
  <div class="clearfix">
    <div class="float-right">
      <%= link_to "<span><i class='fa fa-arrow-left mr-1'></i>#{i18n_word(:come_back)}</span>".html_safe, :back,
                  class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
      <%= button_tag(:class => "btn btn-primary btn-icon btn-1 btn-simple") do %>
        <span><i class="fa fa-floppy-o mr-1"></i> <%= i18n_word(:save) %></span>
      <% end %>
    </div>
  </div>
<% end %>


