<%= page_title("#{i18n_word(:view)} #{i18n_model(:event_request)}") %>

<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <%= output_tag :person_id, @event_request, @event_request.person.full_name %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <%= output_tag :situation, @event_request, @event_request.situation.situation_description_female %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group">
      <%= text_output_tag :additional_information, @event_request, @event_request.additional_information %>
    </div>
  </div>

  <% if @event_request.devolutions.any? %>
    <div class="col-sm-12">
      <h4>Histórico de devoluções</h4>
    </div>

    <div class="col-sm-12">
      <% @event_request.devolutions.each do |situation| %>
        <div class="media-body mb-2">
          <div class="p-4 media-comment-text">
            <span>
              Devolução realizada no dia <b><%= situation.created_at.strftime('%d/%m/%Y') %></b> por <b><%= situation.person.full_name %></b>
            </span>
            <% unless situation.observation.blank? %>
              <p><%= situation.observation&.html_safe %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="col-sm-12">
    <h4>Dados do evento</h4>
  </div>

  <%= render 'events/show', event: @event_request.event %>
</div>
<div class="clearfix">
  <div class="float-right">
    <%= link_to "<span><i class='fa fa-arrow-left mr-1'></i>#{i18n_word(:come_back)}</span>".html_safe, :back,
                class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
    <%= link_to "<span><i class='fa fa-edit mr-1'></i>#{i18n_word(:edit)}</span>".html_safe, edit_event_request_path(@event_request),
                class: 'btn btn-primary btn-icon btn-1 btn-simple',
                data: { toggle: 'tooltip', placement: 'bottom' }, title: "Editar" if @event_request.can_action?(:edit) %>
    <%= link_to "<span><i class='fa fa-plus-square-o  mr-1'></i>#{i18n_word(:generate_event)}</span>".html_safe,
                generate_event_event_request_path(@event_request),
                class: 'btn btn-primary btn-icon btn-1 btn-simple' if @event_request.can_action?(:generate_event) %>
    <%= link_to "<span><i class='fa fa-share-square fa-flip-horizontal mr-1'></i>#{i18n_word(:return_for_changes)}</span>".html_safe, "#",
                data: { toggle: "modal", target: "#return-for-changes-modal" },
                class: 'btn btn-warning btn-icon btn-1 btn-simple' if @event_request.can_action?(:return_for_changes) %>
  </div>
</div>

<%= form_with(url: return_for_changes_event_request_path(@event_request), remote: true) do |f| %>
  <%= modal('return-for-changes', 'Retornar solicitação para alteração', size: :lg) do %>
    <%= modal_body do %>
      <span id="errors-return-for-changes"></span>
      <div class="form-group">
        <%= label_tag :justification_of_return, i18n_model(:event_request, :justification_of_return) %>
        <%= summernote_area_tag :justification_of_return, rows: "30" %>
      </div>
    <% end %>
    <%= modal_footer do %>
      <%= button_tag "<span><i class='fa fa-share-square fa-flip-horizontal mr-1'></i>#{i18n_word(:return)}</span>".html_safe,
                     class: 'btn btn-primary btn-icon btn-1 btn-simple' if @event_request.can_action?(:generate_event) %>
    <% end %>
  <% end %>
<% end %>