<div class="float-left">
  <%= page_title('Cursos') %>
</div>
<div class="float-right pt-2">
  <%= icon_link 'Cadastrar', 'plus', new_course_path %>
</div>

<table class="table">
  <thead>
  <tr class="bg-primary">
    <th class="text-white bold">
      Nome
    </th>
    <th class="text-white bold">
      Quantidade de Semestres
    </th>
    <th class="text-white text-center bold">
      Ações
    </th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td>
        <%= course.name %>
      </td>
      <td>
        <%= course.number_of_semesters %>
      </td>
      <td class="text-center">
        <%= link_to '<span><i class="fa fa-search"></i></span>'.html_safe, course,
                    class: 'btn btn-primary btn-icon btn-sm btn-simple' %>
        <%= link_to '<span><i class="fa fa-edit"></i></span>'.html_safe, edit_course_path(course),
                    class: 'btn btn-icon btn-sm btn-warning' %>
        <%= link_to '<span><i class="fa fa-trash"></i></span>'.html_safe, course,
                    method: :delete, data: {confirm: 'Você tem certeza?'},
                    class: 'btn btn-icon btn-sm btn-danger' %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <%= paginate @courses %>
</div>
