<%= page_title('Visualizar Curso') %>

<div class="row">
  <div class="col-md-9">
    <div class="form-group">
      <%= output_tag :number_of_semesters, @course, @course.name %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= output_tag :number_of_semesters, @course, @course.number_of_semesters %>
    </div>
  </div>
</div>

<div class="float-right">
  <%= link_to span_icon(i18n_word(:come_back), 'arrow-left'), :back,
              class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
  <%= link_to span_icon(i18n_word(:edit), 'edit'), edit_course_path(@course),
              class: 'btn btn-primary btn-icon btn-1 btn-simple',
              data: { toggle: 'tooltip', placement: 'bottom' }, title: "Editar" %>
</div>
