<div class="clearfix">
  <div class="float-left">
    <%= page_title(i18n_model(:certificate_template, plural: true)) %>
  </div>
  <div class="float-right pt-2">
    <%= icon_link i18n_word(:register), 'plus', new_certificate_template_path %>
  </div>
  <div class="float-right pt-2 mr-4">
    <%= icon_link i18n_word(:filter), 'filter', "#collapseFilter", class: 'text-dark', data: { toggle: 'collapse' },
                  aria: { expanded: "false", controls: "collapseFilter" } %>
  </div>
</div>

<%= card_filter(params[:show_filter]) do %>
  <%= form_with(model: @certificate_template, local: true, method: :get) do |f| %>
    <%= hidden_field_tag :show_filter, value: true %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.select(:event_category_id, @event_categories,
                       { include_blank: true },
                       { size: 5,
                         class: 'form-control choices',
                         data: { trigger: '' }, }) %>
        </div>
      </div>
      <div class="col-md-6 mr-auto ">
        <div class="form-group">
          <div class="form-group">
            <%= f.select(:certificate_signature_ids, f.object.certificate_signatures.map { |v| ["#{v.name} - #{v.role}", v.id] },
                         { include_blank: true },
                         { size: 5,
                           multiple: true,
                           placeholder: 'Assinaturas',
                           class: 'form-control choices-ajax',
                           data: { 'search-text': 'Digite o nome da assinatura', 'search-min': 3,
                                   'search-url': autocomplete_by_name_or_role_certificate_signatures_path }, }) %>
          </div>
        </div>
      </div>
      <div class="col-md-auto nowrap">
        <%= button_tag(:class => "btn btn-primary btn-icon btn-1 btn-simple pull") do %>
          <span><i class="fa fa-search"></i></span>
        <% end %>
        <%= button_tag(:class => "btn btn-light btn-icon btn-1 btn-simple pull", type: 'reset') do %>
          <span><i class="fa fa-refresh"></i></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <DIV class="col-sm-12">
    <table class="table">
      <thead class="thead-light">
      <tr class="bg-primary">
        <th class="bold"><%= i18n_model(:certificate_template, :event_category) %></th>
        <th class="bold break-text"><%= i18n_model(:certificate_template, :body) %></th>
        <th class="bold"><%= i18n_model(:certificate_template, :certificate_signatures) %></th>
        <th class="text-center bold" colspan="3"><%= i18n_word(:actions) %></th>
      </tr>
      </thead>

      <tbody>
      <% @certificate_templates.each do |certificate_template| %>
        <tr>
          <td>
            <%= certificate_template.event_category.name %>
          </td>
          <td class="break-text">
            <%= truncate(strip_tags(certificate_template.body), length: 170) %>
          </td>
          <td>
            <% certificate_template.certificate_signatures.each do |certificate_signature| %>
              <span class="badge badge-default"><%= certificate_signature.name %></span>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to span_icon('', 'search'), certificate_template,
                        class: 'btn btn-primary btn-icon btn-sm btn-simple',
                        data: { toggle: 'tooltip', placement: 'bottom' }, title: "Visualizar" %>
            <%= link_to span_icon('', 'edit'), edit_certificate_template_path(certificate_template),
                        class: 'btn btn-icon btn-sm btn-warning',
                        data: { toggle: 'tooltip', placement: 'bottom' }, title: "Editar" %>
            <%= link_to span_icon('', 'trash'), certificate_template,
                        method: :delete, data: { confirm: 'Você tem certeza?', toggle: 'tooltip', placement: 'bottom' }, title: "Excluir",
                        class: 'btn btn-icon btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </DIV>
</div>

<div class="row justify-content-center">
  <%= paginate @certificate_templates %>
</div>
