<div class="clearfix">
  <div class="float-left">
    <%= page_title('Assinaturas de Certificado') %>
  </div>
  <div class="float-right pt-2">
    <%= icon_link 'Cadastrar', 'plus', new_certificate_signature_path %>
  </div>
  <div class="float-right mr-4 pt-2">
    <%= icon_link i18n_word(:filter), 'filter', "#collapseFilter", data: { toggle: 'collapse' },
                  aria: { expanded: "false", controls: "collapseFilter" } %>
  </div>
</div>

<%= card_filter do %>
  filtros
<% end %>

<table class="table">
  <thead>
  <tr class="bg-primary">
    <th class="text-white bold">
      Nome
    </th>
    <th class="text-white bold">
      Descrição
    </th>
    <th style="width: 1%;" class="text-white text-center bold">
      Ações
    </th>
  </tr>
  </thead>
  <tbody>
  <% @certificate_signatures.each do |certificate_signature| %>
    <tr>
      <td>
        <%= certificate_signature.name %>
      </td>
      <td>
        <%= certificate_signature.role %>
      </td>
      <td class="text-center">
        <%= link_to span_icon('', 'search'), certificate_signature,
                    class: 'btn btn-primary btn-icon btn-sm btn-simple',
                    data: { toggle: 'tooltip', placement: 'bottom' }, title: "Visualizar" %>
        <%= link_to span_icon('', 'edit'), edit_certificate_signature_path(certificate_signature),
                    class: 'btn btn-icon btn-sm btn-warning',
                    data: { toggle: 'tooltip', placement: 'bottom' }, title: "Editar" %>
        <%= link_to span_icon('', 'trash'), certificate_signature,
                    method: :delete, data: { confirm: 'Você tem certeza?', toggle: 'tooltip', placement: 'bottom' }, title: "Excluir",
                    class: 'btn btn-icon btn-sm btn-danger' %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <%= paginate @certificate_signatures %>
</div>