<!DOCTYPE html>
<html lang="pt">
<head>
  <title>Cert</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-default p-1">
  <div class="container">
    <a id="logo" class="navbar-brand mt-0 ml-2" href="#">CERT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-primary">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="index.html">
              <span id="logo" style="font-size: 20pt">CERT</span>
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eventos</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-primary_dropdown_1">
            <%= link_to event_categories_path, class: 'dropdown-item' do %>Categorias<% end %>
            <%= link_to events_path, class: 'dropdown-item' do %>Eventos<% end %>
            <%= link_to courses_path, class: 'dropdown-item' do %>Cursos<% end %>
            <%= link_to event_requests_path, class: 'dropdown-item' do %>Solicitações<% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certificados</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-primary_dropdown_1">
            <%= link_to certificate_signatures_path, class: 'dropdown-item' do %>Assinaturas<% end %>
            <%= link_to '#', class: 'dropdown-item' do %>Templates Certificados<% end %>
            <%= link_to '#', class: 'dropdown-item' do %>Templates de Email<% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sistema</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-primary_dropdown_1">
            <%= link_to users_path, class: 'dropdown-item' do %>Usuários<% end %>
            <%= link_to profiles_path, class: 'dropdown-item' do %>Perfis<% end %>
            <%= link_to permissions_path, class: 'dropdown-item' do %>Permissões<% end %>
          </div>
        </li>
        <% if current_user.present? %>
          <li class="nav-item dropdown">
            <a class="nav-link nav-link-icon" href="#" id="navbar-success_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b><i class="fa fa-user-circle-o"></i> <%= current_user.name %></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-success_dropdown_1">
              <a class="dropdown-item" href="#">Configurações</a>
              <a class="dropdown-item" href="#">Conta</a>
              <div class="dropdown-divider"></div>
              <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>Sair<% end %>
            </div>
          </li>
        <% else  %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>Login<% end %>
          </li>
        <% end  %>
      </ul>
    </div>
  </div>
</nav>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb container mb-0">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item active" aria-current="page">Usuários</li>
    <li class="breadcrumb-item active" aria-current="page">Listagem</li>
  </ol>
</nav>
<div class="container mb-4">
  <%= yield %>
</div>
<footer class="footer footer-simple bg-default text-white">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="https://www.danielarrais.dev" class="nav-link text-white">
            Daniel Arrais
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright text-right">
      © <script>document.write(new Date().getFullYear())</script>, Proudly Coded by
      <a href="https://www.danielarrais.dev" target="_blank" class="copyright-link">Daniel Arrais</a>.
    </div>
  </div>
</footer>
</body>
</html>
